[tools]
"node" = { version = "24.11.1" }
"github:rustwasm/wasm-bindgen" = { version = "0.2.106", extract_all = "true" }
"github:WebAssembly/binaryen" = { version = "version_125", extract_all = "true", bin_path = "bin" }

[tasks."build:wasm"]
description = "Build the Wasm bundle"
run = [
    "cargo build --release --target wasm32-unknown-unknown -p awbrn-wasm",
    "wasm-bindgen --target web ./target/wasm32-unknown-unknown/release/awbrn_wasm.wasm --out-dir ./web/src/wasm"
]

[tasks."dev:web"]
description = "Run the web server"
dir = "web"
run = [
    "npm run dev"
]

[tasks."dev:desktop"]
description = "Run the desktop app"
run = [
    "cargo run --package awbrn-desktop"
]
